@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

html {
  color: #666;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: 300;
	line-height: 1.25em;
}
h1 {
		text-align:center;
		color: black;
		font-weight:normal;
	}

  /* Team profile section */
.teamprofile {
    background: white;
    padding-bottom: 30%;
    font-size:15px;
    line-height: 1.2;
    text-align: center;
    float:right;
}

            .ben {
              float:left;
              width:20%;
              padding-left:5%;
              display:inline;
            }

            .benpng {
              float:left;
              width:10%;
            }
              .josh {
                width:20%;
                float:left;
                margin-left:30%;
              }

                .joshpng {
                  display: block;
                  margin-left:auto;
                  margin-right:auto;
                }
