@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato");


html, body {
  font-family: "Lato", sans-serif;
}
#wrapper
{
position:relative;
}

/* Background images with titles for each section  */

      .background1 {
        background-image: url(overlay1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height: 500px;
        opacity: 90%;
      }
        .bg1txt {
          text-align: center;
          border: 1px solid white;
          width: 500px;
          height: 200px;
          box-sizing: border-box;
          margin: auto;
          padding: 85px 0;
          position: relative;
          top: 120px;
          color: white;
        }

        .background2 {
          background-image: url(overlay2.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: auto;
          max-width: 100%;
          height: 200px;
          opacity: 90%;
        }

        .bg2txt {
          text-align: center;
          border: 1px solid white;
          width: 500px;
          height: 100px;
          box-sizing: border-box;
          margin: auto;
          padding: 30px 40px 40px 40px;
          position: relative;
          top: 50px;
          color: white;

        }

        .background3 {
          background-image: url(overlay2.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: auto;
          max-width: 100%;
          height: 200px;
          opacity: 90%;
          white-space: normal;
        }

        .bg3txt {
          text-align: center;
          border: 1px solid white;
          width: 500px;
          height: 100px;
          box-sizing: border-box;
          margin: auto;
          padding: 30px 40px 40px 40px;
          position: relative;
          top: 50px;
          color: white;
          white-space: normal;
        }

        .background4 {
          background-image: url(overlay2.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: auto;
          max-width: 100%;
          height: 200px;
          opacity: 90%;
          white-space: normal;
          clear:both;
        }

        .bg4txt {
          text-align: center;
          border: 1px solid white;
          width: 500px;
          height: 100px;
          box-sizing: border-box;
          margin: auto;
          padding: 30px 40px 40px 40px;
          position: relative;
          top: 50px;
          color: white;
        }

        .background5 {
          background-image: url(overlay2.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: auto;
          max-width: 100%;
          height: 200px;
          opacity: 90%;
          clear:both;
        }

        .bg5txt {
          text-align: center;
          border: 1px solid white;
          width: 500px;
          height: 100px;
          box-sizing: border-box;
          margin: auto;
          padding: 30px 40px 40px 40px;
          position: relative;
          top: 50px;
          color: white;
        }

        .background6 {
          background-image: url(overlay2.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
          background-size: auto;
          max-width: 100%;
          height: 200px;
          opacity: 90%;
          white-space: normal;
          clear:both;
          margin: auto;
        }

        .bg6txt {
          text-align: center;
          border: 1px solid white;
          width: 500px;
          height: 100px;
          box-sizing: border-box;
          margin: auto;
          padding: 30px 40px 40px 40px;
          position: relative;
          top: 50px;
          color: white;
          white-space: normal;
        }


/* Team Profile section*/

    h1{
      text-align:center;
      font-size:25px;
    }


    p {
      display: block;
      font-size:13px;
    }

          .ben {
            display: inline-block;
            float: left;
            padding-left: 2%;
            text-align: left;
            font-size:15px;
            margin: 20px 30px 0 0;
            width: 44%;
            white-space:normal
          }

                      .benpng {
                        float: right;
                        height: 500px;
                        width: 400px;
                      }
  /*vertical line*/
  .vertical {
    opacity: 60%;
    height: 500px;
    position: absolute;
    left: 50%;
    border-width: 2px 2px 2px 2px;
    border-image: linear-gradient(45deg, rgba(100,57,242,1) 0%, rgba(160,116,200) 100%);
    border-image-slice: 9;
    border-style: solid;
  }

  .vertical2 {
    opacity: 60%;
    height: 500px;
    position: absolute;
    left: 50%;
    border-width: 3px;
    border-image: linear-gradient(45deg, rgba(100,57,242,1) 0%, rgba(160,116,200) 100%);
    border-image-slice: 9;
    border-style: solid;
    clear:both;
  }
          .josh {
            display: inline-block;
            float: right;
            padding-right: 3%;
            text-align: left;
            font-size:15px;
            margin: 20px 30px 0px 0px;
            width: 44%;
            white-space:normal

          }

                  .joshpng {
                    float: right;
                    height: 500px;
                    width: 400px;
                  }

          .liam {
            display: inline-block;
            float: left;
            text-align: left;
            font-size:15px;
            margin: 20px 30px 0 0;
            width: 100%;
            padding-top: 1%;
          }
                  .liampng {
                    float: right;
                    height: 500px;
                    width: 400px;
                    padding-top: 2%;
                  }

            .andy {
              display: inline-block;
              float: right;
              padding-right: 3%;
              text-align: left;
              font-size:15px;
              margin: 20px 30px 0px 0px;
              width: 44%;
              white-space:normal;
            }
                      .andypng {
                        float: right;
                        height: 500px;
                        width: 400px;
                      }
          .anton {
            float: none;
            text-align: left;
            font-size:15px;
            margin: 20px 30px 0px 0px;
            width: 50%;
            padding-top:3%;
            padding-left: 500px;
            white-space:normal;
            clear: both;
            padding-bottom: 3%;
          }
                    .antonpng {
                      float: right;
                      height: 600px;
                      width: 400px;
                      padding-left:20px;
                      clear: both;
                    }

                /*table for Ideal Jobs section*/
                table, th, td  {
                  text-align:left;
                  padding-left: 2%;
                  padding-right: 2%;
                  padding-top: 1%;
                }

                th {
                  width:140px;
                  border-bottom: solid;
                  border-width: 1.5px;
                  border-image: linear-gradient(45deg, rgba(100,57,242,1) 0%, rgba(160,116,200) 100%);
                  border-image-slice: 9;
                  padding-bottom: 15px;
                }
                td {
                  line-height: 30px;
                }

                td {
                  border-bottom: solid;
                  border-width: 1.5px;
                  border-image: linear-gradient(45deg, rgba(100,57,242,1) 0%, rgba(160,116,200) 100%);
                  border-image-slice: 9;
                }

                .comparisons {
                  padding-top:3%;
                }

              /* Industry Data */

              .industry {
                padding-top: 3%;
              }
              .opinion {
                padding: 3% 2% 2% 2%
              }


  /*IT Work Interview section */

  .vertical3 {
    opacity: 60%;
    height: 100px;
    position: absolute;
    left: 50%;
    padding-top: 30%;
    border-width: 3px;
    border-image: linear-gradient(45deg, rgba(300,57,370,1) 0%, rgba(110,116,210) 100%);
    border-image-slice: 9;
    border-style: solid;
    clear:both;
  }

  .white {
    text-align: center;
      position: relative;
      clear:both;
      padding-top: 6%;
  }

  .interview {
    padding-top: 8%;
  }
      .interviewtext {
        display: inline-block;
        text-align: left;
        float:left;
        padding-left:3%;
        font-size: 17px;
        margin: 20px 30px 0 0;
        width: 40%;

      }

        .appendix {
          float:right;
          width: 40%;
          padding-right:3%;
            padding-bottom: 3%;
        }

  /*IT Technologies section */

  .it_tech {
    padding: 4% 4% 4% 4%;
    font-size:13px;
  }

  h2 {
    display: block;
    font-size: 15px;
  }
  h3 {
    display: block;
    font-size: 14px;
  }
  pre {
    font-size: 14px;
    font-family: "Lato", sans-serif;
  }

    /*Crypto section */
      .crypto1png {
        float: left;
        width: 550px;
        height: 450px;
        padding: 2% 3px 10px 2%;
      }
        .cryptotxt1 {
          width: 60%;
          float:right;
          padding-bottom: 6%;
        }
          .cryptotxt2 {
            clear: both;
          }
            .cryptotxt3 {
              float: left;
              width: 50%;
              padding-bottom: 3%;
            }
            .crypto2jpg {
              height: 400px;
              width: 600px;
              padding: 2% 3% 2%;
              float: right;

            }

      /* Cyber Security Section */
            .cyber1 {
              float: right;
              width: 50%;
              clear: right;
            }
              .cyber2 {
                float:left;
                width: 50%;
              }
                .cyber3 {
                  clear:both;
                }
              .cybjpg {
                float: left;
                padding-left: 3%;
                height: 400px;
                width: 700px;
                padding-top: 3%;
                padding-bottom: 3%;
              }
              .cyber {
                float: right;
                padding-right: 10%;
                padding-bottom: 3%;
              }

          /* Autonomous Vehicles Section */

            .AutonomousVehicles {
              clear:both;
            }

            .auto1png {
              float: left;
              padding-left: 7%;
              padding-bottom: 5%;
              padding-right: 5%;
              padding-top: 2%;
            }

            .autotxt1 {
              float: right;
              width: 30%;
              padding-left: 15%;
              padding-top: 2%;
            }

            .auto2jpg {
              float: right;
              padding-left: 5%;
              padding-bottom: 4%;
              padding-right: 7%;
              padding-top: 3%;
              width: 800px;
              height: 500px;
            }

            .autotxt2 {
              float: left;
              width: 40%;
              padding-top: 1%;
              padding-bottom: 5%;
            }


  .whitebox {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 700px;
    opacity: 60%;
    height: 100px;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 30px 30px 30px;
    color: black;
    border-width: 3px;
    border-image: linear-gradient(45deg, rgba(300,57,370,1) 0%, rgba(110,116,210) 100%);
    border-image-slice: 9;
    border-style: solid;
    clear:both;
  }

  /* Project idea section */

.projectidea {
  font-size: 15px;
}
  .txt1 {
        text-align: center;
    padding-left: 3%;
    padding-right: 3%;

  }
  .txt2 {
    float:left;
    width: 40%;
    padding-top: 2%;
    padding-left: 7%;
  }
  .txt3 {
    float: right;
    width: 43%;
    padding-top: 2%;
    padding-right: 3%;
  }
  .txt4 {
    clear: both;
    text-align: center;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
  }

  .footer {
    padding-top: 15%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }
